<<<<<<< HEAD
<h1>Editing workout</h1>

<%= render 'form' %>

<%= link_to 'Show', @workout %> |
=======
<h1>Editing Workouts</h1>
 
<%= render 'form' %>
 
>>>>>>> b443877bb8ec055f08a91cd1e30c0c9293127a17
<%= link_to 'Back', workouts_path %>