// Place all the styles related to the workout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: roboto;
	//text-shadow: 1px 1px 1px white;
	font-weight: 400;
    height: 2000px;
    background: linear-gradient(to bottom right, CadetBlue, LightGreen);
}

h1 {

    width: 300px;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	font-family: roboto, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	letter-spacing: 5.5px;
	font-weight: 300;
	font-size: 2em;
	text-align: center;
	background-color:#23e0c0;
	text-shadow: 0px 0px 10px white;
	border-radius: 10px;
	vertical-align: middle;
}


label {
    margin-left: 25%;
    font-family: roboto, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    
}


p {
   // display: block;
	//position: relative;
	font-family: roboto, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: 300;
	font-size: 1em;
	text-shadow: 0px 0px 10px white;
	
}

input[type=text]{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 12px 12px;
    border: 2px #636071;
    border-radius: 10px;
    background-color: #636071;
    color: white;
    font-size: 2em;
    font-family: roboto, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

textarea{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 12px 12px;
    border: 2px #636071;
    border-radius: 10px;
    background-color: #636071;
    color: white;
    font-size: 2em;
    font-family: roboto, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}


a {
    color: white;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    size: 2em;
    color: purple;
}

.create_workout {
    padding-top: 30px;
    margin-left: 23.75%;
    border: none;
    font-family: roboto, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    letter-spacing: 1.5px;
    padding: 15px 15px;
    cursor: pointer;
    //text-decoration: none;
    background-color: #28ffd8;
    border-radius: 15px;
    align-self: center;
    transition:.5s;
    font-weight: 700;
    font-size: 1.5em;
    color: #636071;
}

.create_workout:hover {
    box-shadow: 0px 0px 15px 5px white;
    background-color:#9bfffe;
    //font-weight: 700;
}



